.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
Sandbox
doc
Meta
/inst/Examples/CaseStudy4/ISAOut1
/inst/Examples/CaseStudy4/log
/inst/Examples/CaseStudy4/out
/inst/Examples/CaseStudy4/enrollment
/inst/Examples/CaseStudy4/ISAOut2
/inst/Examples/CaseStudy5/enrollment
/inst/Examples/CaseStudy5/ISAOut1
/inst/Examples/CaseStudy5/ISAOut2
/inst/Examples/CaseStudy5/log
/inst/Examples/CaseStudy5/out
/inst/Examples/CaseStudy5/.Rproj.user
/inst/Examples/CaseStudy6/log
/inst/Examples/CaseStudy6/out
/inst/Examples/CaseStudy6/.Rproj.user
/inst/Examples/CaseStudy6/enrollment
/inst/Examples/CaseStudy6/ISAOut1
/inst/Examples/CaseStudy6/ISAOut2
/inst/Examples/CaseStudy3/ISAOut1
/inst/Examples/CaseStudy3/log
/inst/Examples/CaseStudy3/out
/inst/Examples/CaseStudy3/.Rproj.user
/inst/Examples/CaseStudy3/enrollment
/tests/testthat/log
/tests/testthat/out
/tests/testthat/enrollment
/tests/testthat/ISAOut1
/tests/testthat/ISAOut2
