.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
Sandbox
doc
Meta
/inst/Examples/CaseStudy4/ISAOut1
/inst/Examples/CaseStudy4/log
/inst/Examples/CaseStudy4/out
/inst/Examples/CaseStudy4/enrollment
/inst/Examples/CaseStudy4/ISAOut2
/inst/Examples/CaseStudy5/enrollment
/inst/Examples/CaseStudy5/ISAOut1
/inst/Examples/CaseStudy5/ISAOut2
/inst/Examples/CaseStudy5/log
/inst/Examples/CaseStudy5/out
/inst/Examples/CaseStudy5/.Rproj.user
